# Project 2: Chapter 2 - Working with Lists

Lists can hold any kind of object

In [1]:
empty_list = []
int_list = [2,4,6,8,10]
float_list = [2.0,4.0,6.0,8.0,10.0]
string_list = ["Even Numbers are great", "No odd numbers"]
mixed_list = [2,4.0, "Is 6.0"]

print(empty_list)  
print(int_list)  
print(float_list)  
print(string_list)  
print(mixed_list)

[]
[2, 4, 6, 8, 10]
[2.0, 4.0, 6.0, 8.0, 10.0]
['Even Numbers are great', 'No odd numbers']
[2, 4.0, 'Is 6.0']

In [2]:
type(mixed_list)

list

To access elements in a list, I must call the index which starts from 0 and counts upward with each additional element.

In [3]:
mixed_list[0], type(mixed_list[0])

(2, int)

In [4]:
mixed_list[1], type(mixed_list[1])

(4.0, float)

In [5]:
mixed_list[2], type(mixed_list[2])

('Is 6.0', str)

Another Example

In [6]:
float_list[0], type(float_list[0])

(2.0, float)

In [7]:
float_list[1], type(float_list[1])

(4.0, float)

In [8]:
float_list[2], type(float_list[2])

(6.0, float)

In [9]:
float_list[3], type(float_list[3])

(8.0, float)

# Concatenate lists

In [10]:
list1 = [5, 4, 9, 10, 3, 5]
list2 = [6, 3, 2, 1, 5, 3]

join_lists = list1 + list2

list1

[5, 4, 9, 10, 3, 5]

In [11]:
list2

[6, 3, 2, 1, 5, 3]

In [12]:
join_lists

[5, 4, 9, 10, 3, 5, 6, 3, 2, 1, 5, 3]

Remember this is just like concatenating strings

In [13]:
str1 = "String cheese"
str2 = "Another string to concatenate with str1"

join_strings = str1 + str2
join_strings

'String cheeseAnother string to concatenate with str1'

In [14]:
join_strings[2]

'r'

# List Slices

Suppose that I want to call a subset of a list or string. I can do this by using calling lst[start: end]

In [15]:
join_lists

[5, 4, 9, 10, 3, 5, 6, 3, 2, 1, 5, 3]

In [16]:
join_lists[:5]

[5, 4, 9, 10, 3]

In [17]:
join_lists[0:5]

[5, 4, 9, 10, 3]

In [18]:
join_strings[:5]

'Strin'

In [19]:
join_strings[0:5]

'Strin'

In [20]:
join_strings[5:]

'g cheeseAnother string to concatenate with str1'

If you call lst[-1], it will access the last element in the list

In [21]:
join_lists[-1], join_strings[-1]

(3, '1')

You can count from the end of the list using the negative sign (-). If you count backwards after the first colon, this will call all except for the last i elements for a command lst[:-i]

In [22]:
join_lists[:-1], join_strings[:-1]

([5, 4, 9, 10, 3, 5, 6, 3, 2, 1, 5],
 'String cheeseAnother string to concatenate with str')

In [23]:
join_lists[:-5], join_strings[:-5]

([5, 4, 9, 10, 3, 5, 6], 'String cheeseAnother string to concatenate with')

## For Loops

In [24]:
list1 = [1,2,3,4,5]
list2 = [12,22,32,42,52]

print("list1", list1)
print("list2", list2)

#I'm creating a blank list to use
concat_list = []
sum_list = []

len_list1 = len(list1)
len_list2 = len(list2)

for i in range(0,len_list1):
    concat_list.append(list1[i])
    print(i, list1[i])
    
print(concat_list)

for i in range(0, len_list2):
    print(i, list2[i])
    concat_list.append(list2[i])
    
print(concat_list, list1 + list2)

if len_list1 == len_list2:
    for i in range(len_list1):
        sum_list.append(list1[i] + list2[i])
print("sum_list (append):", sum_list)


sum_list = []
if len_list1 == len_list2:
    for i in range(len_list1):
        #lst.insert(index, vaule)
        sum_list.insert(0, list1[i] + list2[i])
print("sum_list (insert):", sum_list)

list1 [1, 2, 3, 4, 5]
list2 [12, 22, 32, 42, 52]
0 1
1 2
2 3
3 4
4 5
[1, 2, 3, 4, 5]
0 12
1 22
2 32
3 42
4 52
[1, 2, 3, 4, 5, 12, 22, 32, 42, 52] [1, 2, 3, 4, 5, 12, 22, 32, 42, 52]
sum_list (append): [13, 24, 35, 46, 57]
sum_list (insert): [57, 46, 35, 24, 13]

In [25]:
1 == 1

True

In [26]:
1 != 1

False

In [27]:
if 1 == 1:
    print("statement is", 1 == 1)

statement is True

In [28]:
accounting = 1
fun = 2

In [29]:
accounting == fun

False

In [30]:
for i in range(10):
    print("i ==", i, "i < 5", i < 5)

i == 0 i < 5 True
i == 1 i < 5 True
i == 2 i < 5 True
i == 3 i < 5 True
i == 4 i < 5 True
i == 5 i < 5 False
i == 6 i < 5 False
i == 7 i < 5 False
i == 8 i < 5 False
i == 9 i < 5 False

In [31]:
list1 = [5, 
         4, 
         8,
         0,
         3,
         5]
        
list2 = ["red",
        "blue",
        "orange",
        "white",
        "grey",
        "black"]

print(list1)
print(list2)

sorted_list1 = sorted(list1) #Can also run in reverse
sorted_list2 = sorted(list2)

sorted_list1[::-1], sorted_list2[::2]

[5, 4, 8, 0, 3, 5]
['red', 'blue', 'orange', 'white', 'grey', 'black']

([8, 5, 5, 4, 3, 0], ['black', 'grey', 'red'])

In [32]:
list3 = ["21", 22, "23", 24, "25"]
try:
    sorted_list3 = sorted(list3)
except:
    print("TypeError: unorderable types: str < int, what are you thinking?")

# Generator function creates list using for loop
# Within the list created
alpha_list3 = [str(val) for val in list3]

num_list3 = []
for val in list3:
    num_list3.append(int(val))

print(alpha_list3) 
print(num_list3)
sorted(alpha_list3), sorted(num_list3)

TypeError: unorderable types: str < int, what are you thinking?
['21', '22', '23', '24', '25']
[21, 22, 23, 24, 25]

(['21', '22', '23', '24', '25'], [21, 22, 23, 24, 25])

I can nest loops, meaning I can put a loop wintin another loop. It's loops all the way down.

In [33]:
print("i", "j")
for i in range(3):
    for j in range(3):
        print(i, j)

i j
0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [34]:
print("i", "j")
for i in range(3):
    for j in range(5):
        print(i, j)

i j
0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4

This will be useful for making plots in graphs

In [35]:
print("i", "j", "k")
for i in range(3):
    for j in range(5):
        for k in range(4):
            print(i, j, k)

i j k
0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
0 3 0
0 3 1
0 3 2
0 3 3
0 4 0
0 4 1
0 4 2
0 4 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
1 3 0
1 3 1
1 3 2
1 3 3
1 4 0
1 4 1
1 4 2
1 4 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3
2 3 0
2 3 1
2 3 2
2 3 3
2 4 0
2 4 1
2 4 2
2 4 3