# The Essentials

In [1]:
msg = "john madden"
print(msg)

msg_upper = msg.upper()
print(msg_upper)

msg_title = msg.title()
print(msg_title)

john madden
JOHN MADDEN
John Madden

In [2]:
msg = "john" + " " + "madden"
print(msg)

john madden

In [3]:
line1 = "Never gonna give you up,"
line2 = "Never gonna let you down,"
line3 = "Never gonna run around,"
line4 = "And desert you."

# Concatenate each string with the escape seequence "\n" that creates a new line
print(line1 + "\n" + line2 + "\n" + line3 + "\n" + line4)

Never gonna give you up,
Never gonna let you down,
Never gonna run around,
And desert you.

# Distinction between double and single quotes

In [4]:
single_in_double = "We may use 'single quotes' within double quotes"
double_in_single = 'We may use "double quotes" within double quotes'
double_in_double = "We may use \"double quotes\" within double quotes"
single_in_single = 'We may use \'single quotes\' within single quotes'

print(single_in_double)
print(double_in_single)
print(double_in_double)
print(single_in_single)

We may use 'single quotes' within double quotes
We may use "double quotes" within double quotes
We may use "double quotes" within double quotes
We may use 'single quotes' within single quotes

We are going to add \n to the current example

In [5]:
read_backslash = "We may use two backslashes to print a single backslash: \\"
new_line_and_tab = \
    "We may start a new line \n\tand use tab for a hanging indent"

print(read_backslash)
print(new_line_and_tab)

We may use two backslashes to print a single backslash: \
We may start a new line
	and use tab for a hanging indent

# Using .strip() and .replace() string methods

Sometimes we may want to transform string by adding or removing spaces. We can remove space quite easily with the strip() commands.

.lstrip() removes spaces on the far left

.rstrip() removes spaces on the far right

.strip() removes spaces on the left and right of the text object

In [6]:
spaces = "    Look at all the spaces in the text!    "
print("no spaces removed", spaces, sep = "\n")

remove_left_spaces = spaces.lstrip()
remove_right_spaces = spaces.rstrip()
remove_left_and_right_spaces = spaces.strip()
remove_all_spaces = spaces.replace(" ", "")

print("Remove left spaces:", remove_left_spaces)
print("Remove right spaces:", remove_right_spaces)
print("Remove left and right spaces:", remove_left_and_right_spaces)
print("Remove all spaces:", remove_all_spaces)

print("Capitalize all first letters:", remove_left_spaces.title())

no spaces removed
    Look at all the spaces in the text!
Remove left spaces: Look at all the spaces in the text!
Remove right spaces:     Look at all the spaces in the text!
Remove left and right spaces: Look at all the spaces in the text!
Remove all spaces: Lookatallthespacesinthetext!
Capitalize all first letters: Look At All The Spaces In The Text!

# Working with Values

Using a plus sign "+" between values sums the values. Using the sign between strings concatenates them.

In [7]:
num1 = 2 + 3
num1s = "2" + "3"

print("num1:", num1,"\nnum1s:", num1s)

num1: 5
num1s: 23

In [8]:
num1 = 5 / 3
num2 = 5 / 4
num3 = 4 / 3

print("num1:", num1)
print("num2:", num2)
print("num3:", num3)

num1: 1.6666666666666667
num2: 1.25
num3: 1.3333333333333333

Python will actually automatically convert int values to double or floats if the output involes decimals.

In [9]:
type(num1)

float

In [10]:
type(3)

int

In [11]:
float(3)

3.0

In [12]:
type(1.5)

float

In [13]:
3 + 1.5

4.5

In [14]:
type(3 + 1.5)

float

The "import" command is used to import a module.

In [15]:
import sys
(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [16]:
2. ** 1023

8.98846567431158e+307

In [17]:
2.** 1024

OverflowError: (34, 'Result too large')

Python has a limit to the size of the number it can output. Thankfully I will never need to output a number to the 308th power, unless I have gone crazy.